<aside id="comment-section">
    <div class="card divider">
        <span><i class="fa fa-comments" aria-hidden="true"></i> Comments</span>
    </div>
    <div class="card">
        <div class="card-content">
            {{> disqus}}
        </div>
    </div>
</aside>