<aside id="comment-section">
    <div class="wrapper-more">
        <div class="card card-more">
            <div class="read-more">
                <span><i class="fa fa-comments" aria-hidden="true"></i> Comments</span>
            </div>
        </div>
    </div>
    <div class="card-wrapper wrapper-more comments">
        <div class="card">
            {{> disqus}}
        </div>
    </div>
</aside>