<div id="disqus_thread">
    <!-- Placeholder message that will disappear when Disqus js is loaded, whether enabled or not. -->
    Loading comments...
    <noscript>Please enable javascript to load comments.</noscript>
</div>
<script type="text/javascript">
    if (typeof DISQUS_SUBDOMAIN !== 'undefined') {
        var disqus_config = function () {
            this.page.url = "{{url absolute="true"}}";
            this.page.identifier = "ghost-{{comment_id}}";
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://' + DISQUS_SUBDOMAIN + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    } else {
        document.getElementById('comment-section').outerHTML = '';
    }
</script>
