<footer class="buster_footer">
    <div role="social" class="buster_social">
        <a class="buster_social_link" href='mailto:somebody@somewhere.com'><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="buster_social_link" href='https://github.com'><i class="fa fa-github" aria-hidden="true"></i></a>
        <a class="buster_social_link" href='https://linkedin.com'><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="buster_social_link" href='https://facebook.com'><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a class="buster_social_link" href='https://instagram.com'><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <span class="buster_footer_text">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} <a href='{{@blog.url}}/rss/'><i class="fa fa-rss" aria-hidden="true"></i></a></span>
{{!--     <span class="buster_footer_text">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></span>
</footer> --}}