<footer class="buster_footer">
    {{#if pagination}}
        <div class="buster_pagination">
            {{{pagination}}}
        </div>
    {{/if}}
    <a class="buster_subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="buster_hide_this">Subscribe to the RSS feed!</span></a>
    <div class="buster_footer_text">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved.</div>
    <!--div class="buster_footer_text">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div-->
</footer>