<footer class="footer">
    <span class="footer-text">All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} <a href='{{@blog.url}}/rss/'><i class="fa fa-rss" aria-hidden="true"></i></a></span>
    {{ghost_foot}}
</footer>