<div class="buster_header" id="header">
    <div class="buster_menu_button" onclick="toggle_navigation();">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="buster_header_logo_container">
        {{#if @blog.logo}}
        <a onclick="toggle_sidebar();"><img class="buster_header_logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    {{else}}
        <a onclick="toggle_sidebar();"><svg class="buster_header_logo"/></a>
    {{/if}}
    </div>
    {{#if @blog.navigation}}
            {{navigation}}
    {{/if}}
</div>