<div class="buster_mobile_header">
    <div class="buster_mobile_menu">
        <a><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    <div class="buster_blog_icon">
        {{!-- some image here --}}
    </div>
</div>