<ul class="navigation">
    {{#foreach navigation}}
    <a href="{{url absolute="true"}}"><li class="navigation_item{{#if current}} current_navigation_item{{/if}}" id="{{slug}}">{{label}}</li></a>
    {{/foreach}}
</ul>