<ul class="navigation">
    {{#foreach navigation}}
    <li class="navigation-item{{#if current}} current-navigation-item{{/if}} {{slug}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>