<div class="card divider">
    <span><i class="fa fa-th-list" aria-hidden="true"></i> Read more</span>
</div>
{{#prev_post}}
    {{> postcard}}
{{/prev_post}}
{{#next_post}}
    {{> postcard}}
{{/next_post}}