{{!< default}}
<div class="buster_error_wrapper">
    <div onclick="location.href='{{@blog.url}}';" class="buster_error">
        <h1 class="buster_error_title">Not found!</h1>
        <p>Sorry, this page doesn't exist. Click <a href="{{@blog.url}}">here</a> to return home.</p>
    </div>
</div>