{{!< default}}
<div class="error-wrapper">
    <div onclick="location.href='{{@blog.url}}';" class="error">
        <h1 class="error-title">Not found!</h1>
        <p>Sorry, this page doesn't exist. Click <a href="{{@blog.url}}">here</a> to return home.</p>
    </div>
</div>