{{!< default}}
<div class="articles-wrapper">
    {{#foreach posts}}
    <div class="card-wrapper card-index {{post_class}}">
        {{> postcard}}
    </div>
    {{/foreach}}
    {{#if pagination}}
        {{{pagination}}}
    {{/if}}
</div>