html {
}

body {
    color: #696969;
    background-color: white;
    background: #f5f5f5;
    font-family: 'Roboto';
    margin: auto;
    position: relative;
}

p img {
    max-width: 100%;
    display: block;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #0090d2
}

ul,li {
    list-style-type: none;
    margin: inherit;
    padding: inherit;
    color: inherit;
    background-color: inherit;
}

h1,h2 {
    padding: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: inherit;
    padding: inherit;
}

div {
    color: #696969;
}

pre {
    overflow: scroll;
    background-color: #f5f5f5;
    padding: 5px 10px;
}

code {
    background-color: #f5f5f5;
    font-size: 14px;
}

p code {
    padding: 2px 5px;
}

blockquote {
    font-style: italic;
}

hr {
    border: none;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
}

/* Main elements */

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.menu-button {
    display: none;
    padding: 0 20px;
    float: left;
    font-size: 20px;
    line-height: 55px;
}

.header-logo-container {
    float: right;
    height: 35px;
    width: 35px;
    line-height: 55px;
    margin-right: 20px;
}

.header-logo {
    /*box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);*/
    /*border: 2px solid #FFF;*/
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.top-navigation-wrapper {
    max-width: 500px;
    margin: auto;
    line-height: 55px;
    height: 100%;
}

.top-navigation-wrapper .navigation {
    text-align: justify;
    /*min-width: 500px;*/
    vertical-align: middle;
    height: 100%;
}

.top-navigation-wrapper .navigation:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.top-navigation-wrapper .current-navigation-item {
    border-bottom: solid 4px #0090d2;
    color: #0090d2;
}

.top-navigation-wrapper .navigation-item:hover {
    border-bottom: solid 4px #0090d2;
    color: #0090d2;
}

.top-navigation-wrapper .navigation-item {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    padding: 0 0;
}

.top-navigation-wrapper .navigation-item a {
    display: block;
    padding: 0 1.3em;
}

.infocard-wrapper {
    height: 100%;
    width: 300px;
    float: left;
    box-sizing: border-box;
    padding: 2em;
    padding-right: 0em;
    z-index: 2;
}

.infocard {
    display: none;
    width: 300px;
    height: 400px;
    margin-top: -172.5px; /*should be half the height -27.5*/
    margin-left: -150px; /*should be half the width*/
    z-index: 5;
    position: fixed;
    top: 150%; /*begins out of sight*/
    left: 50%;
}

.infocard-title{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 25px;
}

.blog-title {
    float: left;
    line-height: 55px;
    margin-left: 20px;
    font-weight: 500;
    max-width: 150px;
    font-size: 18px;
}

.infocard-image {
    width: 100%;
    height: 150px;
    position: relative;
}

.infocard-image img {
    background: lightgray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dedede, #0090d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dedede, #0090d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dedede, #0090d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dedede, #0090d2); /* Standard syntax */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infocard-image svg {
    background: lightgray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dedede, #0090d2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dedede, #0090d2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dedede, #0090d2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dedede, #0090d2); /* Standard syntax */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infocard-logo {
    padding-top: 45px;
}

.infocard-logo img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
    /*border: 2px solid #FFF;*/
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: lightgray;
}

.infocard-logo svg {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -25px;
    right: 12px;
    margin: auto;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
    /*border: 2px solid #FFF;*/
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: lightgray;
}

.infocard-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    height: 150px;
    display: flex;
    align-items: center;
}

.blog-description {
    word-wrap: break-word;
    text-align: center;
    max-width: 100%;
    padding: 0;
}

.navigation-item.current {
    color: white;
    background-color: #0090d2;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
    -webkit-transform:scale(1.025);
    -moz-transform:scale(1.025);
    -o-transform:scale(1.025);
    transform:scale(1.025);
}

.navigation-item.current:hover {
    background-color: #0090d2;
}

.navigation-item {
    padding: 15px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.main {
    position: relative;
    margin: auto;
    padding-top: 55px;
    background: #f5f5f5;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.articles-wrapper {
    padding: 5px;
    margin: auto;
    max-width: 1500px;
}

.sunscreen {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: black;
}

/* Mobile */

.mobile-header {
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #0090d2;
    display: table;
}

.mobile-menu {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.5em;
    font-size: 32px;
}

.mobile-menu {
    color: white;
}

.side-navigation-wrapper {
    box-shadow: 1px 0px 6px 2px rgba(1,1,1,0.2);
    background: white;
    height: 100%;
    position: fixed;
    z-index: 5;
    width: 150px;
    left: -160px;
}

.side-navigation {
    float: left;
}

.side-navigation .navigation-item {
    float: left;
    clear: both;
}

.side-navigation .current-navigation-item {
    font-weight: bold;
}

.side-navigation .navigation-item a {
    padding: 1em;
    display: block;
}

.mobile-navigation-wrapper {
    display: none;
    width: 100%;
    height: 75px;
    margin-bottom: 5px;
}

.mobile-navigation-card {
    height: 100%;
    width: 100%;
}

.close-menu {
    position: fixed;
    color: white;
    padding-left: 0.5em;
    padding-top: 5px;
    font-size: 32px;
}

.card.scroll-button {
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scroll-button i {
    font-size: 30px;
    padding-left: 10px;
    font-size: 30px;
    padding: 2px 5px 0 5px;
}

.scroll-button:hover {
    color: #0090d2
}

.shrink-me {
    transform: scale(0);
}

.enlarge-me {
    transform: scale(1);
}

/* Index view */

.card-wrapper {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

.card-index {
    width: 33.33%;
}

.card {
    float: left;
    background: white;
    box-shadow: 0px 2.5px 10px 0px rgba(0,0,0,0.2);
    -webkit-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    -moz-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    border-radius: 3px;
    -moz-border-topright: 3px;
    -webkit-border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased; /*for smoother transitions on Safari*/
}

.card-image-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.25)
        );
    background: -moz-linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.25)
        );
    background: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.25)
        );
    background: -o-linear-gradient(
        rgba(0, 0, 0, 0.01),
        rgba(0, 0, 0, 0.25)
        );
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;

}

.card-image img {
    /*background: #0090d2;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-image svg {
    /*background: #0090d2;*/
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title {
    width: 100%;
    position: absolute;
    bottom: 12px;
}

.card-title .post-title {
    color: white;
    font-weight: 400;
    font-size: 25px;
    text-shadow: 0.5px 0.5px 2.5px #000000;
    vertical-align: middle;
    display: table-cell;
    padding-left: 15px;
    padding-right: 15px;
}

.card-content {
    margin: 15px;
    line-height: 22px;
    font-weight: 100;
}

.post-excerpt {
    height: 4.1em;
    overflow: hidden;
}

.post-footer-wrapper {
    border-top: 1px solid lightgray;
    padding-top: 1em;
    max-height: 22px;
    overflow: hidden;
    /*color: #0090d2;*/
    font-weight: 400;
}

.post-footer {
    position: relative;
}

.post-footer i {
    margin-right: 3px;
}

.post-tags {
    padding-right: 5px;
}

.post-date {
    background: white;
    position: absolute;
    right: 0;
    padding-left: 1px;
}

.post-date:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: -30px;
    background: white;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1) 80%);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1) 80%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1) 80%);
    width: 30px;
    height: 100%;
}

.wrapper-pagination {
    height: 372px;
    position: relative;
}

.pagination {
    border-radius: 100px;
    font-size: 35px;
    position: relative;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    line-height: 100px;
    text-align: center;
}

.pagination:hover {
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
}

.error-wrapper {
    margin-top: 1.8em;
    padding: 10px;
}

.error {
    text-align: center;
}

.error-title {
    font-weight: 600;
    font-size: 48px;
}

/* Post view */

.post-view {
    max-width: 900px;
    margin: auto;
    box-sizing: content-box;
}

.card-post {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.card-post-wrapper {
    float: left;
    max-width: 600px;
}

.card-page-wrapper {
    width: 600px;
    margin: auto;
    float: none;
}

.card-content-post {
    line-height: 25px;
    /*text-align: justify;*/
    /*max-width: 30em;*/
    /*padding: 0 1em;*/
    /*padding-bottom: 1em;*/
}

.card-content-post a {
    font-weight: 400;
}

.card-content-post h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0;

}

.card-content-post h3 {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0;
}

.wrapper-more-articles {
    float: right;
    width: 300px;
}

.wrapper-more {
    width: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    float: right;
}

.card-more {
    float: left;
    width: 100%;
}

.read-more {
    line-height: 40px;
    display: block;
    padding: 0 15px;
    height: 40px;
    width: 250px;
}

/* Media queries */

@media screen and (min-width: 1250px) {
    .card-index {
        width: 25%;
    }
}

@media screen and (max-width: 1250px) {
    .card-index {
        width: 33.33%;
    }
}

@media screen and (min-width: 1000px) {
    .scale:hover {
        -webkit-transform:scale(0.985);
        -moz-transform:scale(0.985);
        -o-transform:scale(0.985);
        transform:scale(0.985);
    }

    .mobile-header {
        display: none;
    }

    .close-menu {
        display: none;
    }
}

@media screen and (max-width: 910px) {
    .card-post-wrapper {
        float: none;
        margin: auto;
    }

    .wrapper-more-articles {
        float: none;
        margin: auto;
        width: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 810px) {

    .card-index {
        width: 50%;
    }

    #header .top-navigation-wrapper {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .wrapper-more {
        width: 100%;
    }
}

@media screen and (max-width: 610px) {
    .card-page-wrapper {
        width: 100%;
    }
}


@media screen and (max-width: 550px) {
    .card-index {
        width: 100%;
        padding-bottom: 0px;
    }

     .wrapper-pagination {
        height: 165px;
    }

    .articles-wrapper {
        padding: 0px;
    }

    .post-template .main {
        padding-bottom: 0px;
    }

    .wrapper-more {
        padding: 0px 10px 10px 10px;
    }

    .post-template .articles-wrapper {
        padding: 0px;
    }

    .home-template .main {
        padding-bottom: 10px;
    }

}
