html {
    display:block;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #505050;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

/* Headings */

h1 {
    font-size: 2em;
    margin: 0.563em 0;
}

h2 {
    font-size: 1.3em;
    letter-spacing: 0.5px;
    margin: 0.625em 0;
}

h3 {
    font-size: 1.313em;
    margin: 1.313em 0;
}

h4 {
    font-size: 1.125em;
    margin: 1.313em 0;
}

h5 {
    font-size: 1.125em;
    margin: 1.313em 0;
}

h6 {
    font-size: 1em;
    margin: 0.75em 0;
}

/* Links */

a {
    background: transparent;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover,a:visited:hover {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover h2{
    color: gray;
}

/* Main elements */

.buster_wrapper {
    float: left;
    width: 100%;
    height: 100%;
    margin: auto;
}

.buster_sidebar {
    float: left;
    width: 15em;
    padding: 0em 0.5em;
    height: 100%;
    text-align: center;
    border-right: 1px solid lightgray;
    background-color: #f3f3f3;
}

.buster_header {
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

.buster_blog_cover img {
    display: block;
    max-height: 10em;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.buster_blog_logo {
    margin-bottom: -35px;
}

.buster_blog_logo img {
    display: block;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 3.5em;
    border: 2px solid #FFF;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: lightgray;
}

.buster_blog_title {
    text-align: center;
}

.buster_navigation ul {
    margin-left: -3em;
    text-align: center;
    list-style-type: none;
}

.buster_navigation {
    border-bottom: solid 1px lightgray;
    border-top: solid 1px lightgray;
}

.buster_social {
    position: absolute;
    bottom: 4em;
    width: 15em;
}

.buster_social_link {
    font-size: 1.6em;
    margin: 2px;
}

.buster_footer {
    position: absolute;
    bottom: 1em;
    width: 15em;
}

.buster_article_list {
    overflow: auto;
    max-width: 75em;
}

.buster_article {
    padding: 1em;
    position: relative;
    display: inline-block;
    max-height: 15em;
    margin-bottom: 1em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.buster_article:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -1.5em;
    height: 0px;
    width: 90%;
    border-bottom: 1px solid lightgray;
}

.buster_post_header {
    margin-top: 1em;
}

.buster_post_title {
    height: 2.7em;
    font-weight: 500;
    letter-spacing: 0px;
    overflow: hidden;
}

.buster_post_image img {
    /*border-radius: 7px;*/
    object-fit: cover;
    width: 100%;
    height: 7em;
}

.buster_post_tags {
    max-width: 13em;
    max-height: 1.3em;
    overflow: hidden;
    float: left;
}

i.fa.fa-tag {
    margin-right: 0.15em;
}

.buster_post_date {
    position: relative;
    bottom: 0;
    float:right;
}

.buster_pagination {
    text-align: center;
    clear: both;
    padding: 2em;
}

/* Post view elements */

.buster_article_wrapper {
    overflow: auto;
    margin: auto;
    max-width: 45em;
    height: 100%;
}

.buster_full_date {
    float: right;
    font-style: italic;
}

.buster_article_inner_wrapper {
    overflow: hidden;
    margin: auto;
    /*max-width: 34em;*/
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 0em 1em;
    font-size: 1em;
    line-height: 1.6em;
}

.buster_article_inner_wrapper .buster_post_header .buster_post_title {
    height: auto;
    font-size: 1.8em;
    margin-top: 1.4em;
    font-weight: 700;
    overflow: initial;
}

.buster_post_content{
    text-align: justify;
}

.buster_article_inner_wrapper .buster_post_tags {
    overflow: visible;
}

.buster_author_name {
    float: right;
    font-style: normal;
    font-weight: 300;
    font-size: 1.0em;
}

/* Mobile elements */

.buster_mobile_header {
    width: 100%;
    height: 3em;
    position: fixed;
    z-index: 1;
    background: #f3f3f3;
    border-bottom: solid 1px lightgray;
}

.buster_menu_button {
    float: left;
    margin-left: 0.5em;
    margin-top: 0.3em;
    font-size: 1.7em;
}

.buster_mobile_header .buster_blog_logo {
    padding: 0.5em;
}

.buster_mobile_header .buster_blog_logo img {
    width: 2em;
    height: 2em;
    float: right;
    top: 0;
    margin-right: 0.3em;
}

/* Responsive rules: */

/* Screen width >1232px (Three article columns)*/

@media all and (min-width: 1232px) {
    .buster_article {
    padding: 1em;
    position: relative;
    display: inline-block;
    width: 33.333%;
    max-height: 15em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
}

/* Screen width <1232px (Two article columns) */

@media all and (max-width: 1232px) {
    .buster_article {
    padding: 1em;
    position: relative;
    display: inline-block;
    width: 50%;
    max-height: 15em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
}

/* Screen width >870px (Hide mobile header) */

@media all and (min-width: 870px) {
    .buster_mobile_header{
        display: none;
    }

    .buster_hide_sidebar {
        display: none;
    }

    .buster_article_list {
        margin: auto;
        padding: 0em 1em;
        height: 100%;
    }
}

/* Screen width <870px (Hide sidebar) */

@media all and (max-width: 870px) {
    .buster_sidebar {
        display: none;
    }

    .buster_hide_sidebar {
        display: block;
        float: left;
        margin-left: 0.5em;
        margin-top: 0.3em;
        font-size: 1.7em;
    }

    .buster_article_wrapper {
        margin-top: 3em;
        height: initial;
    }

    .buster_article_list {
        margin-top: 3em;
    }
}

/* Screen width <672px (1 article column) */

@media all and (max-width: 672px) {
    .buster_article {
    padding: 1em;
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 15em;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
}