html {
    display:block;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.563em 0;
}

h2 {
    font-size: 1.3em;
    margin: 0.625em 0;
    color: black;
}

h3 {
    font-size: 1.313em;
    margin: 1.313em 0;
}

h4 {
    font-size: 1.125em;
    margin: 1.313em 0;
}

h5 {
    font-size: 1.125em;
    margin: 1.313em 0;
}

h6 {
    font-size: 1em;
    margin: 0.75em 0;
}

a {
    background: transparent;ent;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover,a:visited:hover {
    text-decoration: none;
    color: gray;
}

a:visited {
    text-decoration: none;
    color: black;
}

.buster_wrapper {
    width: 100%;
    height: 100%;
    max-width: 90em;
    margin: auto;
}

.buster_header {
    padding-bottom: 0.5em;
    border-bottom: 1px solid lightgray;
}

.buster_blog_cover img {
    display: block;
    max-height: 10em;
    max-width: 100%;
    margin-top: 0em;
    margin-right: auto;
    margin-left: auto;
}

.buster_blog_logo {
    margin-bottom: -35px;
}

.buster_blog_logo img {
    display: block;
    max-width:75px;
    max-height:75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -35px;
    border: 2px solid #FFF;
    -webkit-border-radius: 50px; /* Saf3+, Chrome */
    border-radius: 50px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
    background-color: wheat;
}

/*mobile adjustments*/
@media all and (max-width: 870px) {
    .buster_sidebar {
        display: none;
    }
    .buster_main {
    margin-left: 1em !important;
    margin-right: 1em !important;
    max-width: 100% !important;
    /* width: 100% !important; */
    border-right: 1px solid white !important;
    margin: 0em 1em auto;
    }
}

.buster_blog_title {
    text-align: center;
}

.buster_main {
    /* float: left; */
    margin: auto;
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    max-width: 60em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    /* border-right: 1px solid lightgray; */
}

.buster_article_list {
    /* display: inline; */
    /* list-style-type: none; */
}

ul li {
    /* make list elements fall inline as block elements */

    /* next two lines only for display purposes */

}
/* horizontally center ul element */
ul { text-align:center; }

.buster_article {
    padding: 1em;
    position: relative;
    display: inline-block;
    min-width: 18em;
    max-width: 18em;
    min-height: 15em;
    max-height: 15em;
    float: left;
    /*border-bottom: 1px solid lightgray;*/
}

.buster_article:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 0px;
    width: 90%;
    border-bottom: 1px solid lightgray;
}

i.fa.fa-tag {
    margin-right: 0.15em;
}

.buster_sidebar {
    display: none;
    float: left;
    max-width: 30%;
    /*margin: 1em;*/
    min-height: 100%;
    text-align: center;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: #f3f3f3;
}

.buster_post_tags {
    /* margin-top: 0em; */
    position: absolute;
    bottom: 1em;
}

.buster_navigation {
    text-align: left;
}

.buster_post_header {
    margin-top: 1em;
}

a:hover h2{
    color: gray;
}

.buster_post_image img {
    border-radius: 7px;
    object-fit: cover;
    width: 100%;
    height: 7em;
}

.buster_pagination {
    clear: both;
}

.buster_footer {
    clear: both;
    /* padding-top: 1em; */
    /* padding-left: 1em; */
    /* margin-bottom: 1em; */
    padding: 1em;
}